# Ignore Python virtual environment

someipy/

# Byte-compiled / cache files

**pycache**/
*.py[cod]
*$py.class

# Distribution / packaging

build/
dist/
*.egg-info/
.eggs/

# Installer logs

pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# Jupyter Notebook checkpoints

.ipynb_checkpoints/

# Environment variables

.env
.env.*

# VS Code / IDE settings

.vscode/
.idea/

# OS files

.DS_Store
Thumbs.db
